PORT=3000

# Base de datos (Local o Docker)
DB_SERVER=localhost
DB_PORT=11433
DB_USER=sa
DB_PASSWORD=EsSalud2024!
DB_NAME=DW_EsSalud_Adquisiciones

# SMTP (MailHog o real)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_FROM=alertas@essalud-pipeline.local
SMTP_TO=abastecimiento@essalud-pipeline.local
